<f:layout name="default" />

<f:section name="content">
    <h1>Blog-Liste</h1>
    
    <f:form action="list" additionalAttributes="{role:'form'}">
        <div class="form-inline">
            <div class="form-group">
                <f:form.textfield name="search" value="{search}" class="form-control" />
                <f:form.submit value="Suchen!" class="btn-xs btn-primary" />
            </div>
        </div>
    </f:form>
    
    <br />
        
    <ul class="list-group">
        <f:for each="{blogs}" as="blog">
            <li class="list-group-item">
                {blog.title} 
                <f:link.action action="deleteConfirm" arguments="{blog:blog}" class="btn btn-primary btn-xs pull-right">DEL</f:link.action>
                <f:link.action action="updateForm" arguments="{blog:blog}" class="btn btn-primary btn-xs pull-right margin-right">EDIT</f:link.action>
                <f:link.action action="show" arguments="{blog:blog}" class="btn btn-primary btn-xs pull-right margin-right">SHOW</f:link.action>
            </li>
        </f:for>
    </ul>
    
    <p class="text-muted">Es werden maximal {settings.blog.max} Blogs ausgegeben.</p>
    
    <f:link.action action="addForm" class="btn btn-primary">Blog anlegen</f:link.action>
</f:section>
