<f:layout name="default" />

<f:section name="content">
    <h1>Blog ansehen</h1>
    
    <dl class="dl-horizontal">
        <dt>Blog-Titel:</dt>
        <dd>{blog.title}</dd>
        <dt>Blog-Beschreibung:</dt>
        <dd>{blog.description}</dd>
    </dl>
    
    <f:if condition="{blog.posts}">
        <ul class="list-group">
            <f:for each="{blog.posts}" as="post">
                <li class="list-group-item">{post.title}
                    <f:link.action action="deleteConfirm" controller="Post" 
                        arguments="{blog: blog, post: post}" class="btn btn-primary btn-xs pull-right">DEL</f:link.action>
                    <f:link.action action="updateForm" controller="Post" 
                        arguments="{blog: blog, post: post}" class="btn btn-primary btn-xs pull-right margin-right">EDIT</f:link.action>
                    <f:link.action action="show" controller="Post" 
                        arguments="{blog: blog, post: post}" class="btn btn-primary btn-xs pull-right margin-right">SHOW</f:link.action>
                </li>
            </f:for>
        </ul>
    </f:if>
    
    <f:link.action action="addForm" controller="Post" arguments="{blog:blog}" class="btn btn-primary">Post anlegen</f:link.action>
    
    <br />
    <br />
           
    <f:link.action action="list" class="btn btn-primary">Zurück zur Blog-Liste</f:link.action>
</f:section>
