<f:layout name="default" />

<f:section name="content">
    <h1>Post ansehen (Blog: {blog.title})</h1>
    
    <dl class="dl-horizontal">
        <dt>Post-Titel:</dt>
        <dd>{post.title}</dd>
        <dt>Post-Inhalt:</dt>
        <dd>{post.content}</dd>
        <dt>Post-Tags:</dt>
        <dd>
            <f:for each="{post.tags}" as="tag">
                <span class="label label-default">{tag.tagvalue}</span>
            </f:for>
        </dd>
        <dt>Post-Autor:</dt>
        <dd>{post.author.name} (Email: {post.author.email})</dd>
    </dl>
    
    <f:link.action action="list" controller="Blog" arguments="{blog: blog}" class="btn btn-primary">Zurück zur Blog-Liste</f:link.action>
</f:section>
